asgiref==3.8.1
certifi==2024.7.4
cffi==1.16.0
chardet==5.2.0
cryptography==42.0.8
Django==5.0.6
idna==3.7
msal==1.29.0
pycparser==2.22
PyJWT==2.8.0
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
requests==2.32.3
six==1.16.0
sqlparse==0.5.1
urllib3==2.2.2
